@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
body {
  margin: 0;
  font-family: 'Rubik', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropIntend th{
    padding-top: 107px;
}

.selectRow {
visibility: hidden;
}
table{border-collapse:separate; 
  border-spacing:5em;}
